int cat = 5;
float dog = 5;
bool frog = true;

int x;
float y;
function : void main()
{
    x = 1; // OK

    y = x + cat;        // int
    y = x + dog;        // float
    y = x + frog;       // error

    y = x - cat;        // int
    y = x - dog;        // float
    y = x - frog;       // error

    y = x * cat;        // int
    y = x * dog;        // float
    y = x * frog;       // error

    y = x / cat;        // int
    y = x / dog;        // float
    y = x / frog;       // error

    y = x % cat;        // int
    y = x % dog;        // float
    y = x % frog;       // error
    y = frog % x;       // error

    y = 2 + 2;          // int
    y = 2 + 2.2;        // float


    x = y; // ERROR
}
