int cat = 5;
float dog = 5;
bool frog = true;

int x;
float y;
bool z;
function : void main()
{
    x = 1; // OK

    y = x + cat;        // int
    y = x + dog;        // float
    y = x + frog;       // error
    y = frog + x;       // error

    y = x - cat;        // int
    y = x - dog;        // float
    y = x - frog;       // error

    y = x * cat;        // int
    y = x * dog;        // float
    y = x * frog;       // error

    y = x / cat;        // int
    y = x / dog;        // float
    y = x / frog;       // error

    y = x % cat;        // int
    y = x % dog;        // float
    y = x % frog;       // error
    y = frog % x;       // error

    frog = cat < dog;   // ok
    frog = cat < frog;  // error
    frog = frog < cat;  // error

    frog = cat <= dog;   // ok
    frog = cat <= frog;  // error

    frog = cat > dog;    // ok
    frog = cat > frog;   // error

    frog = cat >= dog;   // ok
    frog = cat >= cat;   // ok
    frog = cat >= frog;  // error

    z = (cat == dog);    // ok
    z = (frog == frog);  // ok
    z = (cat == frog);   // error

    z = (cat != dog);    // ok
    z = (frog != frog);  // ok
    z = (cat != frog);   // error

    z = cat && frog;     // error
    z = frog && dog;     // error
    z = frog && frog;    // ok

    z = cat || frog;     // error
    z = frog || dog;     // error
    z = frog || frog;    // ok

    z = !cat;            // error
    z = !frog;           // ok

    x = (frog & dog);    // error
    x = (dog & frog);    // error
    x = (cat & cat);     // ok

    x = (frog | dog);    // error
    x = (dog | frog);    // error
    x = (cat | cat);     // ok

    x = (frog ^ dog);    // error
    x = (dog ^ frog);    // error
    x = (cat ^ cat);     // ok

    x = frog++;          // error
    x = ++dog;           // ok
    x = cat++;           // ok
    /*
    x = 123++;           // error
    */

    y = 2 + 2;           // int
    y = 2 + 2.2;         // float

    x = y; // ERROR
}
